<section class="main_container_language">
  <div class="main_window_container_language">
    <div class="select_language_container" >
      <div class="title_container">Select the language you want to learn</div>
        <div class="items_container">
          <div *ngFor="let language of languageData">
            <div class="language_container" [routerLink]="['/category', language.itemId]" >
              <img src= "{{language.itemImagePath}}" alt="">
              <span class ="language_name_container">{{language.itemTranslationLearnedName}}</span>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
