<header class="header_container">
  <div class="content_container">

    <div class="brand_breadcrumb_container">
      <div class="header_brand" [routerLink]="['']">
        Language.Skills

      </div>

      <app-breadcrumb></app-breadcrumb>
    </div>



    <div class="header_button_container">

      <div class="language_header_container">
        <span>
          <img src="../../assets/icon/Flag_of_the_United_Kingdom.png">
        </span>
        <span>EN</span>
      </div >

      <span class="header_settings">
        <img src="../../assets/icon/Gear.png" alt="settings">
      </span>

      <span class="header_profile_tool">
        <img src="../../assets/svg/person-4.svg" alt="profile">
      </span>

    </div>
  </div>
</header>


