.header_container{
  display: flex;
  flex-direction: row;
  align-items: center;


  height: 68px;
  background: #FFFFFF no-repeat padding-box;
  box-shadow: 0 2px 4px #0000001A;

  @media screen and (max-width: 1600px) {
    height: 6vh;
  }

  @media screen and (max-width: 650px) {
    height: 7.6vh;
  }

  .content_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: auto;
    width: 1433px;

    @media screen and (max-width: 1600px) {
      width: 75%;
    }

    @media screen and (max-width: 650px) {
      width: 88%;
    }

    .brand_breadcrumb_container{
      display: flex;
      flex-direction: row;

      .header_brand {
        padding-right: 77px;
        font-family: Roboto;
        font-weight: bold;
        color: #259FFC;
        cursor: pointer;

        @media screen and (max-width: 1600px) {
          padding-right: 2vw;
        }
      }
    }


    .header_button_container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .language_header_container {
        display: inline;
        margin-right: 40px;
        cursor: pointer;

        @media screen and (max-width: 360px) {
          margin-right: 21px;
        }

        img {
          margin-right: 10px;
        }
      }

      .header_settings {
        cursor: pointer;

        img {
          width: 16px;
          height: 16px;
          margin-right: 41px;

          @media screen and (max-width: 800px) {
            margin-right: 21px;
          }
        }
      }

      .header_profile_tool {
        cursor: pointer;

        img {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}


