
//Main window language container
.main_container_language{
  height: 92.5vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


  background: url('/assets/img/Web Sign in.png') no-repeat center center;
  background-size: cover;
  position: fixed;

  @media screen and (max-width: 650px) {
    padding-top: 15px;
    background: url('/assets/img/Phone Sign in.png') no-repeat center center;
    background-size: cover;
    position: fixed;
    align-items: flex-start;
  }

  .main_window_container_language{
    width: 1433px;
    height: 812px;
    background-color: #FFFFFF;
    position: fixed;
    box-shadow: 8px 8px 13px #00000029;
    border-radius: 14px;

    @media screen and (max-width: 1600px) {
      width: 75%;
      height: 75%;
    }

    @media screen and (max-width: 650px) {
      width: 92%;
      height: 88%;
    }
  }
}

//Main window container
.main_container {
  height: 92.5vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: url('/assets/img/Web Sign in.png') no-repeat center center;
  background-size: cover;
  position: fixed;

  @media screen and (max-width: 650px) {
    padding-top: 15px;
    background: url('/assets/img/Phone Sign in.png') no-repeat center center;
    background-size: cover;
    position: fixed;
    align-items: flex-start;
  }

  .main_window_container {
    width: 1433px;
    height: 905px;
    background-color: #FFFFFF;
    position: fixed;
    box-shadow: 8px 8px 13px #00000029;
    border-radius: 14px;

    @media screen and (max-width: 1600px) {
      width: 75%;
      height: 80%;
    }

    @media screen and (max-width: 650px) {
      width: 92%;
      height: 88%;
    }
  }
}

.pagination_container {

  @media screen and (max-width: 650px) {
    display: none;
  }

  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 24px;

  img {
    cursor: pointer;
    width: 24px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .pagination_page_count {
    cursor: pointer;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 24px;
    color: #D8D8D8;
  }

  .is_active {
    background-color: #259FFC;
    color: #FFFFFF;
  }
}

.mobile_pagination_line_container{
  @media screen and (min-width: 651px) {
    display: none;
  }

  width: 82.6vw;
  margin: 0 auto;

  hr{
    margin: 0;
    height: 4px;
    border-radius: 4px;
  }

  .first_line{
    background-color: #D8D8D8;
  }

  .second_line{
    margin-top: -5px;
    background-color: #259FFC;
  }

}

