
//Main window language container
.main_container_language{
  height: 94vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: url('/assets/img/Web Sign in.png') no-repeat center center;
  background-size: cover;
  position: fixed;

  .main_window_container_language{
    width: 1433px;
    height: 812px;
    background-color: #FFFFFF;
    position: fixed;
    box-shadow: 8px 8px 13px #00000029;
    border-radius: 14px;

    @media screen and (max-width: 1600px) {
      width: 75%;
      height: 75%;
    }
  }
}

//Main window container
  .main_container {
    height: 94vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: url('/assets/img/Web Sign in.png') no-repeat center center;
    background-size: cover;
    position: fixed;

    .main_window_container {
      width: 1433px;
      height: 905px;
      background-color: #FFFFFF;
      position: fixed;
      box-shadow: 8px 8px 13px #00000029;
      border-radius: 14px;

      @media screen and (max-width: 1600px) {
        width: 75%;
        height: 80%;
      }
    }
  }

  .pagination_container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 24px;

    img {
      cursor: pointer;
      width: 24px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .pagination_page_count {
      cursor: pointer;
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
      width: 24px;
    }

    .is_active {
      background-color: #259FFC;
    }
  }

