<section class="main_container">
  <div class="main_window_container">
    <div class="tests_container" >
      <div class="title_container">{{subCategoryName + " Tests"}} </div>
      <div class="items_container">
        <div *ngFor="let testWithTranslation of testWithTranslations; index as i" >
          <div class="test_container" [routerLink]="['./test', subCategoryId, subCategoryName, testWithTranslation.id,
                                                  testWithTranslation.testName]">
            <img src='{{ "../../../../assets/icon/grey/Test" + (i + 1) + ".png" }}' alt="">
            <div class="test_name_container">
              <div>{{testWithTranslation.testName}}</div>
              <div class="test_name_image_container">
                <img *ngIf="!isSuccessfullyCompleted" src="../../../../assets/svg/Контур%202082_grey.svg">
                <img *ngIf="isSuccessfullyCompleted" src="../../../../assets/svg/Контур%202082.svg">
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>

